.burger-btn {
	position: relative;
	display: block;
	width: 30px;
	height: 19px;
	cursor: pointer;

	@media (min-width: 1200px) {
		display: none;
	}
}

.burger-btn span {
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	background-color: $gold;
	transform: rotate(0deg);
	transition: 0.3s;
}

.burger-btn span:nth-child(1) {
	top: 0;
}

.burger-btn span:nth-child(2) {
	top: 9px;
}

.burger-btn span:nth-child(3) {
	top: 9px;
}

.burger-btn span:nth-child(4) {
	top: 18px;
}

.burger-btn--active span:nth-child(1) {
	width: 0;
}

.burger-btn--active span:nth-child(2) {
	transform: rotate(45deg);
}

.burger-btn--active span:nth-child(3) {
	transform: rotate(-45deg);
}

.burger-btn--active span:nth-child(4) {
	width: 0;
}