<div class="header">
	<div class="container">
		<div class="row space-between align-center" id="headerRow">
			<div class="header__logo">
				<a href="#">
					<img src="images/logo.png" alt="Логотип Экспрэсс хоу">
				</a>
			</div>
			<div class="header__nav" id="header__nav">
				<div class="header__nav-col">
					<nav class="nav">
						<ul class="nav__list">
							<li class="nav__item">
								<a href="#" class="nav__link nav__link--triangle">О нас</a>
								<ul class="submenu">
									<li class="submenu__item"><a href="#" class="nav__link">Статьи</a></li>
									<li class="submenu__item"><a href="#" class="nav__link">FAQ</a></li>
									<li class="submenu__item"><a href="#" class="nav__link">Отзывы</a></li>
								</ul>
							</li>
							<li class="nav__item"><a href="#" class="nav__link">Проектирование</a></li>
							<li class="nav__item"><a href="#" class="nav__link">Строительство</a></li>
							<li class="nav__item"><a href="#" class="nav__link">Портфолио</a></li>
							<li class="nav__item"><a href="#" class="nav__link">Цены</a></li>
							<li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
						</ul>
					</nav>
	
	
					<div class="description">
						<div class="row">
							<svg class="description__icon">
								<use xlink:href="images/sprite.svg#header--star-icon" />
							</svg>
							<p class="description__text">
								7 лет проектируем и строим дома в Москве и МО, Санкт-Петербурге и ЛО.<a href="#">Встреча с архитектором</a> — бесплатно!
							</p>
						</div>
					</div>
				</div>

				<div class="header__phones phones" id="phones">
					<div class="row">
						<div class="phones__icons-wrap">
							<svg class="phones__icon-rect">
								<use xlink:href="images/sprite.svg#header--vector" />
							</svg>
							<svg class="phones__icon">
								<use xlink:href="images/sprite.svg#header--phone-icon" />
							</svg>
						</div>
						<div class="phones__row">
							<div class="phones__col">
								<a class="phones__link" href="tel:+74952284730">+7 (495) 228-47-30</a><span>Москва</span>
							</div>
							<div class="phones__col">
								<a class="phones__link" href="tel:+78126027430">+7 (812) 602-74-30 </a><span>СПБ</span>
							</div>
						</div>
					</div>
				</div>

				<div class="nav__btn">
					<div class="btn-wrap">
						<a class="btn" href="#">Записаться на встречу</a>
						<svg class="btn__rect">
							<use xlink:href="images/sprite.svg#header--rect" />
						</svg>
					</div>
				</div>

			</div>

			<div class="burger-btn" id="burger-btn">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</div>